<!-- O Thymeleaf oferece a opção de	layout padrão, que é chamado em	cada página	e pode ser usado para colocar os scripts comuns	de layout. Seguindo a convenção do
Spring Boot, dentro de src/main/resource/templates. -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <!-- Tell the browser to be responsive to screen width -->
        <link rel="shortcut icon" href="favicon.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1, user-scalable=yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="X-UA-Compatible" content="IE=8">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <meta http-equiv="X-UA-Compatible" content="IE=10">
        <meta http-equiv="X-UA-Compatible" content="IE=11">
        <!-- Bootstrap -->
        <link rel="stylesheet"
              href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css">
        <!-- jquery-ui -->
        <link rel="stylesheet"
              href="/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css">

        <link rel="stylesheet"
              href="/webjars/font-awesome/4.7.0/css/font-awesome.css">
        <!-- jquery -->
        <script src="/jquery.min.js"></script>
        <script src="/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.min.js"></script>
        <!-- Bootstrap -->
        <script src="/webjars/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
        <meta charset="UTF-8">
        <title>Ponto a ponto</title>
    </head>
    <body>
        <div sec:authorize="isAuthenticated()" th:include="/navbar/navbar"></div>
        <div layout:fragment="header">cabeçalho falso</div>
        <div layout:fragment="content">content falso</div>
    </body>
</html>