<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/layout}">

    <head>
          <link rel="stylesheet" href="/css/default.css" type="text/css">
    </head>
    <body>

        <br/>
        <div layout:fragment="header" >
            <br>
        </div>
        <div layout:fragment="content" class="container">


           <!-- <h2><i class="fa fa-id-card-o"></i> Atualizar cadastro</h2>-->


            <div class="card shadow">
                <h3 class="card-header">
                    <i class="fa fa-id-card-o"></i>  Atualizar cadastro
                </h3>
                <div class="card-block padding-card">
                    <h4 class="card-title">Editar usuário</h4>
                    <form action="#" th:action="@{/usuarios}" th:object="${credenciaisDoUsuario}" method="post">
                        <fieldset>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group" disabled>
                                        <label for="nome">Id:</label >
                                        <input class="form-control" id="id" type="number" th:field="*{id}" readonly="readonly">
                                        <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}">preencher o id</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nome">Nome:</label>
                                        <input class="form-control" id="nome" type="text" th:field="*{nome}"/>
                                        <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">preencher o nome</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">E-mail:</label>
                                        <input class="form-control" id="email" type="text" th:field="*{email}"/>
                                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">preencher o email</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="senha">Senha:</label>
                                        <input class="form-control" id="senha" name="senha" autocomplete="senha atual" type="password" th:value="*{senha}"/>
                                        <div th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">preencher a senha</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pis">Pis:</label>
                                        <input class="form-control" id="pis" type="text" th:field="*{pis}"/>
                                        <div th:if="${#fields.hasErrors('pis')}" th:errors="*{pis}">preencher o pis</div>
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nome">Nsr:</label>
                                        <input class="form-control" name="nsr" id="nsr" type="text" th:field="*{nsr}"/>
                                        <div th:if="${#fields.hasErrors('nsr')}" th:errors="*{nsr}">preencher o nsr</div>
                                    </div>
                                </div>
                            </div>   
                        </fieldset>
                        <div class="card-footer bg-transparent text-right">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Enviar</button>
                                <button class="btn btn-default" type="button" onclick="javascript: window.location.href = '/'">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>    
            </div>
        </div>
    </body>
</html>
