<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/layout}">

    <body class="background-default">

        <div layout:fragment="header">
            <div class="jumbotron shadow default-color" style="padding: 1rem 3rem" sec:authorize="not isAuthenticated()">
                <h1>Ponto a ponto</h1>
                <p>
                    Esse é o sistema onde você organiza suas horas!!!
                </p>
            </div>
            <br sec:authorize="isAuthenticated()"/>
        </div>
        <div layout:fragment="content" class="container">

            <div class="card shadow">
                <h4 class="card-header">
                    <i class="fa fa-id-card-o"></i>  <span th:text="${cabecalho}"></span>
                </h4>
                <div class="card-block padding-card">
                    <h5 class="card-title" th:text="${titulo}"></h5>
                    <form action="#" th:action="@{/usuarios}" th:object="${credenciaisDoUsuario}" method="post">
                        <fieldset>
                            <div class="form-row">
                                <div class="col-md-6 esconder">
                                    <div class="form-group">
                                        <label for="nome">Id:</label >
                                        <input class="form-control" id="id" type="number" th:field="*{id}" readonly="readonly">
                                            <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}">preencher o id</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nome">Nome:</label>
                                        <input class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('nome'))} ? is-invalid" id="nome" type="text" th:field="*{nome}"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">preencher o nome</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Login:</label>
                                        <input class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('email'))} ? is-invalid" id="email" type="text" th:field="*{email}"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">preencher o email</div>
                                    </div>
                                </div>
                                <div class="col-md-6" th:class="*{id} ? esconder : col-md-6">
                                    <div class="form-group">
                                        <label for="senha">Senha:</label>
                                        <div class="input-group" id="show_hide_password">
                                            <input class="form-control" id="senha" th:classappend="${not #lists.isEmpty(#fields.errors('senha'))} ? is-invalid" name="senha" autocomplete="senha atual" type="password" th:value="*{senha}"/>
                                            <div class="input-group-append" onclick="showHidePassword('senha', 'iconeSenha')">
                                                <span class="input-group-text"> <a href="#"><i id="iconeSenha" class="fa fa-eye-slash" aria-hidden="true"></i></a></span>
                                            </div>
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">preencher a senha</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" th:class="*{id} ? esconder : col-md-6">
                                    <div class="form-group">
                                        <label for="senha">Confirmação da senha:</label>
                                        <div class="input-group">
                                            <input class="form-control" id="confirmacaoSenha" th:classappend="${not #lists.isEmpty(#fields.errors('confirmacaoSenha'))} ? is-invalid" name="confirmacaoSenha" autocomplete="senha atual" type="password" th:value="*{confirmacaoSenha}"/>
                                            <div class="input-group-append" onclick="showHidePassword('confirmacaoSenha', 'iconeConfirmacaoSenha')">
                                                <span class="input-group-text"> <a href="#"><i id="iconeConfirmacaoSenha" class="fa fa-eye-slash" aria-hidden="true"></i></a></span>
                                            </div>
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmacaoSenha')}" th:errors="*{confirmacaoSenha}">preencher a senha</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="pis">Pis:</label>
                                        <input class="form-control" th:classappend="${not #lists.isEmpty(#fields.errors('pis'))} ? is-invalid" id="pis" type="text" th:field="*{pis}"/>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('pis')}" th:errors="*{pis}">preencher o pis</div>
                                    </div>
                                </div>
                            </div>   
                        </fieldset>
                        <div class="card-footer bg-transparent text-right">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Enviar</button>
                                <button class="btn btn-default" type="button" onclick="javascript: window.location.href = '/'">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>    
            </div>
        </div>
    </body>
</html>
