<html layout:decorate="~{layouts/layout}">
    <head>
        <link rel="stylesheet" href="/css/tempusdominus-bootstrap-4.min.css" />
        <script type="text/javascript" src="/js/tempusdominus-bootstrap-4.min.js"></script>
        <script type="text/javascript" src="/js/hoje.js"></script>
        <script type="text/javascript" th:inline="javascript">
            $(document).ready(function () {
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
            type: 'doughnut',
                    data: {
                    labels: [[${graficoParametros.labels}]],
                            datasets: [{
                            label: [[${graficoParametros.datasetsLabel}]],
                                    data: [[${graficoParametros.datasetsData}]],
                                    backgroundColor: [[${graficoParametros.dataBackgroundColor}]],
                                    borderColor: [[${graficoParametros.dataBorderColor}]],
                                    borderWidth: 1
                            }]
                    },
                    options: {
                    cutoutPercentage: 50,
                            circumference: Math.PI,
                            rotation: - Math.PI,
                            responsive: false,
                            tooltips: {
                            callbacks: {
                            title: function(tooltipItem, data) {
                            return data['labels'][tooltipItem[0]['index']];
                            },
                                    label: function(tooltipItem, data) {
                                    var tempo = data['datasets'][0]['data'][tooltipItem['index']];
                                    var hora = Math.floor(tempo / 60);
                                    var minutos = tempo % 60;
                                    if (hora < 10) {hora = "0" + hora; }
                                    if (minutos < 10) {minutos = "0" + minutos; }
                                    return data['labels'][tooltipItem['index']] + ": " + hora + ":" + minutos;
                                    },
                                    afterLabel: function(tooltipItem, data) {
                                    var dataset = data['datasets'][0];
                                    var percent = Math.round((dataset['data'][tooltipItem['index']] / dataset["_meta"][0]['total']) * 100)
                                            return 'Total: ' + '(' + percent + '%)';
                                    }
                            }
                            }
                    }
            });
            });
        </script>
    </head>
    <body class="background-default">
        <div layout:fragment="header">
            <br/>
        </div>
        <div layout:fragment="content" class="container">
            <div class="card shadow">
                <div class="card-block padding-card-button">
                    <button type="button" class="btn btn-outline-secondary btn-sm" th:onclick="'getRegistroId('+${registros.id}+')'" data-toggle="modal" data-target="#registroManualModal"><i class="fa fa-hand-pointer-o"></i> Registro manual</button>
                </div>
            </div>
            <br>
            <div class="card shadow">
                <h4 class="card-header">
                    <i class="fa fa-clock-o"></i>  <span th:text="${cardLabel}"></span>
                </h4>
                <div class="card-block padding-card">
                    <span class="row">
                        <h5 class="col-6 card-title">Registros de ponto na data atual</h5>
                        <small class="col-6 card-title d-flex justify-content-end text-muted" th:utext="${diaDeTrabalho.jornadaDeTrabalho}"></small>
                    </span>
                    <div class="row" id="listaRegistros" th:fragment="listaRegistros">
                        <div class="col-4">
                            <table class="table table-sm">
                                <thead class="text-center">
                                    <tr>
                                        <th scope="col">Hora</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr th:each="registro, iterationStatus : ${registros.hora}">
                                        <td th:utext="${registro.horaFormatada}"></td>
                                        <td th:attr="onclick='confirmarExclusaoDeRegistro('+ ${registro.toString()} +')'" style="cursor: pointer"><i class="fa fa-trash text-danger"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-8 d-flex justify-content-center">
                            <canvas id="myChart" style="width: 50%; height: auto;"></canvas>
                        </div>
                    </div>
                    <hr>
                    <div class="row jumbotron" style="padding: 10px; margin-bottom:0; margin-top: 5px">
                        <div class="col-4">
                            <label>Horas trabalhadas:</label>
                            <label class="horas_trabalhadas" th:text="${diaDeTrabalho.tempoTrabalhadoFormatado}"></label>
                        </div>
                        <div class="col-4">
                            <label th:text="${diaDeTrabalho.labelExtrasNegativas}"></label>
                            <label th:class="${diaDeTrabalho.extra} ? horas_extras : horas_restantes" style="font-weight: bold" th:text="${diaDeTrabalho.tempoFaltanteExtraFormatado}"></label>
                        </div>
                        <div class="col-4" th:if="${diaCorrente}">
                            <label>Fim da jornada de trabalho:</label>
                            <label class="fim_jornada" th:text="${diaDeTrabalho.horaSaidaFormatada}"></label>
                        </div>
                    </div>
                </div>    
            </div>
            <br>
            <div class="card shadow">
                <h4 class="card-header">
                    <i class="fa fa-tasks"></i>  Tarefas
                </h4>
                <div class="card-body">
                    <form action="#" method="post">
                        <div class="row align-items-end">
                            <div class="col-9">
                                <div class="form-group">
                                    <label for="task">Tarefa:</label>
                                    <input class="form-control" onfocus="removerClasse('task', 'is-invalid')" id="task" type="text" required>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="task">Tempo:</label >
                                    <div class="input-group date" id="tempoTarefa" data-target-input="nearest">
                                        <input type="text" id="registroTarefa" onfocus="removerClasse('registroTarefa', 'is-invalid')" class="form-control datetimepicker-input" data-target="#tempoTarefa"/>
                                        <div class="input-group-append" data-target="#tempoTarefa" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="form-group">
                                    <button type="button" th:onclick="'inserirTarefa('+${registros.id}+')'" class="btn btn-outline-secondary"><i class="fa fa-plus-circle"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div id="listaTarefas">
                        <div class="row" th:fragment="lista-tarefas">
                            <div class="col-12" th:if="${#lists.size(registros.tarefa)}">
                                <table class="table table-sm">
                                    <thead class="text-center">
                                        <tr>
                                            <th class="text-left" scope="col">Descrição</th>
                                            <th scope="col">Tempo</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr th:each="tarefas, iterationStatus : ${registros.tarefa}">
                                            <td class="text-left" th:utext="${tarefas.descricao}"></td>
                                            <td th:utext="${tarefas.tempoFormatado}"></td>
                                            <td th:attr="onclick='confirmarExclusaoDeTarefa('+ ${tarefas} +')'" style="cursor: pointer"><i class="fa fa-trash text-danger"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="jumbotron" style="padding: 10px; margin-bottom:0; margin-top: 5px">
                                    Total: <strong th:text="${registros.tempoTotalTarefa}"></strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal registro manual -->
            <div class="modal fade" id="registroManualModal" tabindex="-1" role="dialog" aria-labelledby="registroModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="titulo"><i class="fa fa-pencil" aria-hidden="true"></i> Registro manual</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="input-group date" id="horaRegistroManual" data-target-input="nearest">
                                    <input type="text" id="registro" class="form-control datetimepicker-input" data-target="#horaRegistroManual"/>
                                    <div class="input-group-append" data-target="#horaRegistroManual" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> Fechar</button>
                            <button type="button" class="btn btn-outline-secondary btn-sm" onclick="inserirRegistro('registro')"><i class="fa fa-save" aria-hidden="true"></i> Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal remover registro -->
            <div class="modal fade" id="removerRegistroModal" tabindex="-1" role="dialog" aria-labelledby="registroModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="titulo"><i class="fa fa-clock-o" aria-hidden="true"></i> Remover</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <p id="perguntaConfirmar"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light btn-sm" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> Fechar</button>
                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="removerRegistro()"><i class="fa fa-trash" aria-hidden="true"></i> Remover</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>