html, body{
    height: 100%;
    background-color: #E6E6E6 !important;
}

.default-color{
    background-color: #A4A4A4 !important;
}

.background-image {
	background-image: url("../time.jpg") !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.login-transparente{
    opacity: 0.9;
}

.login-transparente:focus-within{
    opacity: 1.0;
}

.padding-card {
	padding: 1.25rem;
}

.margin-card {
	margin: 1rem;
}

.shadow {
	box-shadow: 5px 10px 18px #888888;
}

.esconder{
    display: none;
}
